p{  /*p是选项器*/
    font-family: Reboto;
    margin-top:0px;
    margin-bottom:0px;
}

.video-title{   /*针对特定类的选择器，优先级高于选择器*/
    font-weight:bold;
    font-size: 18px;
    width:280px;
    line-height: 24px; /*设置行间距*/
    margin-bottom:5px;
}

.video-stats{
    font-size:14px;
    color:rgb(96, 96, 96);
    margin-bottom:16px;
}

.video-author{
    font-size:14px;
    color:rgb(96, 96, 96);
    margin-bottom:16px;
}

.video-description{
    font-size:14px;
    color:rgb(96, 96, 96); 
    width:270px;
    line-height:20px;
    margin-bottom:100px;
}

.apple-text{
    margin-bottom:50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color:white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.span-example{
    color:red;
}

.span-example:hover{
    cursor:pointer;
    text-decoration: underline;
}

.shop-link{
    cursor:pointer;
}

.shop-link:hover{
    text-decoration: underline;
}